@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap');

body {
  background-color:#282c34;
  color: #f3f3f3;
  font-family:"Roboto";
}

h1 {

}

h2 {
  margin-top: 0;
}

#nav-list > li {
  margin-top: 15px;
  color: #f3f3f3;
  /* text-decoration: none; */
}

.pagination-link {
  text-decoration: underline;
}

.pagination-link:hover {
  transform: scale(1.1);
  transition: 0.15s;
  background: linear-gradient(90deg,dodgerblue,#e52e71);
  cursor: pointer;
  text-shadow: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#loading {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-color: #3e4451;
  background-image: linear-gradient(#3e4451, #282c34);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 64px;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
}

/* #page-navigation{
} */

#nav-list {
  list-style-type: none;
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  margin-left: -64px;
  margin-right: 64px;
}

#wantlist {
  list-style-type: none;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 3rem;
  flex-wrap: wrap;
  grid-gap: 1rem;
  margin-top: 180px;
}
.wantlistItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  height: 250px;
  width: 400px;
  min-width: 150px;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: #1d1f24;
  box-shadow: -1rem 2rem 3rem #000;
  transition: 0.2s;
}

.wantlistItem:hover {
  transform: translateY(-1rem);
}

.wantlistItem-thumbnail {
  width: 170px;
}

.wantlistItem:hover:not(.spotify-button) {
  background: linear-gradient(180deg,dodgerblue,#e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.spotify-button {
  border-radius: 8px;
}